*, 
html, 
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto" sans-serif;}

h1{font-size: 5em;}
h2{font-size: 2em;}
h3{font-size: 2em;}
h4{font-size: 2em;}

.mainprofile{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 740px;
  font-size: 1em;
  background-color: #86DC3D;
  align-items: center;
}

.detailprofile{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 669px;
  font-size: 1em;
  background-color: rgb(119, 226, 221);
  align-items: center;
}

.navigasibawah img {
  display: inline-block; /* or inline-flex */
  margin-right: 10px; /* Add some margin between images if needed */
}

.kancolle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 80px;
  background-color: rgb(0, 4, 255);
}

.centered {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  background-color: #86DC3D;
}

.image-content img {
  max-width: 100%; 
  display: block; 
}

.tab{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 80px;
  background-color: deepskyblue;
}

.ranata{
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  padding: 15px;
}

.hurufpertama{
  color: tomato;
  font-size: 2em;
  font-weight: bolder;
}

img {
  max-width: 500px; /* Adjust the maximum width as needed */
  height: auto;
  display: block;
  margin: 0 auto; /* Centers the images */
}

.hurufkedua{
  color: lightcyan;
  font-size: 2em;
  font-weight: 900;
}

.navigasi{
  display: flex;
  justify-content: center;
  align-items: center;

}

.navigasi>li{
  list-style-type: none;
  padding: 15px;
}

.navigasi>li>a{
  color: white;
  font-size: 20px;
}

.navigasi>li>a:hover{
  color: greenyellow;
  transition: all 0.3s ease-in-out;
}